body {
   margin: 2rem;
  height: 200vh;
}

.padre {
  background-color: rgb(146, 140, 140);
  width: 600px;
  position: relative;
}

.static {
  position: static;
  background-color: rgb(239, 116, 116);
  height: 100px;
}
.relative {
  position: relative;
  background-color: rgb(232, 234, 118);
  height: 100px;
  top: 5px; /* top es el de mayor importancia*/
  left: 5px; /*es de mayor importancia*/
  right: 0;
  bottom: 0px;
}
.absolute {
  position: absolute;
  background-color: rgb(56, 177, 102);
  height: 100px;
  top: 10px;
  right: 5px;
}
.fixed {
  position: fixed;
  background-color: rgb(83, 164, 182);
  height: 100px;
  top: 0%;
}
.abuelo {
    overflow: scroll;
    height: 400px;
    border: 2px solid rgb(210, 95, 95);
    position: relative;
}
.sticky {
  position: sticky;
  background-color: rgb(193, 71, 193);
  height: 30px;
  top: 0;
}
.sticky2 {
    position: sticky;
    background-color: rgb(96, 52, 218);
    height: 30px;
    top: 0;
  }

  .contenedor{
      border: 2px solid rgb(210, 95, 95);
      height: 600px;
  }

  .cabeza{
     position: relative;
      height: 60px;
      border: 2px solid rgb(105, 95, 210);
      width: 60px;
  }
  .ojoIz {
      position: absolute;
        background-color: rgb(210, 95, 95);
        height: 10px;
        width: 10px;
        border-radius: 50%;
        top: 10px;
        left: 8px;
  }
  .ojoDer {
      position: absolute;
    background-color: rgb(210, 95, 95);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 10px;
    right: 8px;
}
.mouth {
    position: absolute;
    background-color: rgb(210, 95, 95);
    height: 10px;
    width: 40px;
    top: 45px;
    left: 10px;
}



