body {
    background-image: url(http://c.files.bbci.co.uk/48DD/production/_107435681_perro1.jpg) ;
background-repeat: no-repeat;
background-size: cover;
    margin: 0;
    padding: 200px;
}

p {
    color: aquamarine;
    font-size: 20px;
    font-family: "Arial";
    margin: 5px;
    
}
